@import "node_modules/susy/sass/_susy.scss";
@import url(http://fonts.googleapis.com/css?family=Arvo);

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, body {
  background-color:#27476E;
  @include span(8 of 8);
  font-family: 'Arvo', serif;
}

.savebutton {
  color: white;
  background-color: #001D4A;
  font-weight: bold;
  padding: 8px 25px 8px 25px;
  margin-left: 5px;
  margin-top: 50px;
  font-family: 'Arvo', serif;
  border-radius: 4px;
  border: solid 0 #e3edf4;
}

.deletebutton {
  color: white;
  background-color: red;
  background: red;
  font-weight: bold;
  padding: 8px 25px 8px 25px;
  font-family: 'Arvo', serif;
  margin-left: 5px;
  margin-top: 50px;
  font-family: Arial,sans-serif;
  border-radius: 4px;
  border: solid 0 #e3edf4;
}

a:visited {
  color:black;
}

.title {
  text-align:center;
}

.notecard {
  margin-left: 5px;
  display: inline-block;
  background-color: #EAF8BF;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
