@import "node_modules/susy/sass/_susy.scss";
@import url(http://fonts.googleapis.com/css?family=Arvo);

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  background-color:#27476E;
  @include span(8 of 8);
  font-family: 'Arvo', serif;
}

.savebutton {
  margin-right:5px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 50px;
  color: #006992;
  background: white;
  font-weight: bold;
  padding: 8px 25px 8px 25px;
  font-family: 'Arvo', serif;
  font-family: Arial,sans-serif;
  border-radius: 4px;
  border: solid 0 #e3edf4;
}

.deletebutton {
  float:right;
  margin-right:5px;
  color: white;
  background-color: red;
  background: red;
  font-weight: bold;
  padding: 8px 25px 8px 25px;
  font-family: 'Arvo', serif;
  margin-left: 5px;
  margin-top: 5px;
  font-family: Arial,sans-serif;
  border-radius: 4px;
  border: solid 0 #e3edf4;
}

.title {
  text-align:center;
  font-size:32px;
  color:white;
}

.card-title {
  text-align:center;
  word-wrap:break-word;
}

.notecard {
  overflow:scroll;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #EAF8BF;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 10px;
}

.notecard-back {
  margin-left:5px;
  word-wrap:break-word;
}

.edit-link {
  color:blue;
  margin-left:5px;
  margin-top:10px;
}

.new-page-link {
  color:white;
  margin-left:10px;
}

a {
  text-decoration:none;
  color:black;
}

textarea {
  margin-left:10px;
  border-radius:3px;
  height:100px;
  width:300px;
}

.front {
  height:20px;
}

.the-form {
}
