@import "node_modules/susy/sass/_susy.scss";
@import url(http://fonts.googleapis.com/css?family=Arvo);

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, body {
  background-color:#27476E;
  @include span(8 of 8);
  font-family: 'Arvo', serif;
}

.savebutton {
  width: 10%;
  display:block;
  background:#EAF8BF;
  padding:2em;
  border-radius: 2px;
  margin-bottom: 20px;
}

.deletebutton {
  background:red;
  display:block;
  float: right;
}

a:visited {
  color:black;
}

.title {
  text-align:center;
}

.notecard {
  display: inline-block;
  background-color: yellow;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
